body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: max-content 1fr max-content;
  width: 100vw;
  height: 100vh;
}

.Header {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: rgb(95, 118, 160);
  color: white;
  padding: 10px;
}

.Footer {
  grid-column: 1 / -1;
  grid-row: 3;
  background-color: rgb(95, 118, 160);
  color: white;
  padding: 2px;
}

.Column {
  box-sizing: border-box;
}

#FlowColumn {
  padding: 1em;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  height: 100%;
}

#FlowableColumn {
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  overflow-y: auto;
}

#RelatedColumn {
  padding: 1em;
  display: contents;
}

.related {
  display: grid;
	grid-template-rows: minmax(50%, 1fr) auto;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
  padding: 1em;
  column-gap: 3em;
}

.lorem {
  color: lightgrey;
}

.notpaperFigure {
  display: contents;
}

.Box {
  grid-row-end: span 2;
}